<style>
body, html {
   background-color: gray;
   height: 100%;
}

#videos {
   position: relative;
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}
#subscriber {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
}
#publisher {
   position: absolute;
   width: 360px;
   height: 240px;
   bottom: 10px;
   left: 10px;
   z-index: 100;
   border: 3px solid white;
   border-radius: 3px;
}

</style>

<h1>LIVE VIDEO</h1>


<div id="videos">
    <div id="subscriber"></div>
    <div id="publisher"></div>
</div>

<script type="text/javascript">
  var counter = 0;
  $(document).ready(function(){
    checkExpireTime();
  });

  function checkExpireTime(){
    if(new Date >= new Date("<%= @gmt_end_time %>")){
      window.location.replace("/");
    }
    counter += 1;
    setTimeout(checkExpireTime, 60000);
  }

  var session = OT.initSession("<%= ENV['opentok_api_key'] %>", "<%= @opentok_session_id %>");
  session.connect("<%= @opentokToken %>", function(error) {

  // If the connection is successful, initialize a publisher and publish to the session
  if (!error) {
    var publisherOptions = {
      insertMode: 'append',
      width: '100%',
      height: '100%'
    };
    var publisher = OT.initPublisher('publisher', publisherOptions, function(error) {
      if (error) {
        console.log('There was an error initilizing the publisher: ', error.name, error.message);
        return;
      }
      session.publish(publisher);
    });
  } else {
    console.log('There was an error connecting to the session:', error.name, error.message);
  }
});

session.on('sessionDisconnected', function(event) {
  console.log('You were disconnected from the session.', event.reason);
});

session.on('streamCreated', function(event) {
  var subscriberOptions = {
    insertMode: 'append',
    width: '100%',
    height: '100%'
  };
  session.subscribe(event.stream, 'subscriber', subscriberOptions, function(error) {
    if (error) {
      console.log('There was an error publishing: ', error.name, error.message);
    }
  });
});
</script>
