<div class="container">
  <div class="row">
    <div class="col s12">
      <p>Email: <%= @new_message[:email] %></p>
      <p>Subject: <%= @new_message[:subject] %></p>
      <p>Message: <%= @new_message[:message] %></p>
    </div>
  </div>
</div>
