<div class="container">
  <div class="row">
    <div class="col s12">
      <p>Your interview was created in your calendar. We will send a Google Hangout invite at your scheduled time.</p>
      <p>We look forward to meeting you, and thank you again for choosing Yogalit!</p>
    </div>
  </div>
</div>
