<div class="container">
  <div class="row">
    <div class="col s12">
      <p>After reviewing your reported Yoga session, we have decided to refund your purchase. We appologize for the inconvenience.</p>
    </div>
  </div>
</div>
