<div class="container">
  <div class="row">
    <div class="col s12">
      <p>An Emergency Cancellation has been used for your account.</p>
      <p>3 Cancellations: Account is Blacklisted for 30 days.</p>
      <p>4 Cancellations: Account is Blocked indefinately.</p>
    </div>
  </div>
</div>
