<div class="container">
  <div class="row">
    <div class="col s12">
      <p>
        Your Yogalit Teacher account has been verified and approved. Please follow these directions:
      </p>
      <p>• Add at least 1 time frame to any day of the week.</p>
      <p>• Choose at least 1 Type of Yoga you specialize in.</p>
      <p>• Add your prices for sessions times and sales tax.</p>
      <p>After these steps have been completed, you will be eligible for search!</p>
    </div>
  </div>
</div>
