<div class="container">
  <div class="row">
    <div class="col s12">
      <p>We regret to inform you that your application to Yogalit has been denied. We do not feel you possess the necessary skills to become one of our instructors.</p>
      <p>We deeply encourage you to practice more on your routine and knowledge and apply again with us when you feel you are ready!</p>
    </div>
  </div>
</div>
