<div class="container">
  <div class="row">
    <div class="col s12">
      <p>After reviewing the reported Yoga session, we have decided to block the Student account associted with the report. We appreciate you contacting Yogalit and appologize for your inconveniences.</p>
    </div>
  </div>
</div>
