<body id="about">
  <div class="container about_container">
    <div class="row top_row">
      <div class="col s12">
        <p>
          Yogalit was founded on the belief that anyone should be able to do yoga anywhere and anytime. It is our goal to make yoga accessible to as many people as possible. No matter how busy your life or schedule is.
          <br />
          <br />
          At Yogalit you can have a private session with a certified yoga instructor at a time that is convenient for you.  All you need is wifi and a browser and you’re set to go! No driving to or from a studio, no more trying to work your schedule around a studio’s time or a private instructors time in your home.
          <br />
          <br />
          The best part about Yogalit is that you get the one on one attention that is lacking in a larger classroom setting.
          <br />
          <br />
          Ready to sign up for Yogalit?  Get your yoga mat ready and start looking for available teachers today!
        </p>
      </div>
    </div>
  </div>
</body>
