<div class="container">
  <div class="row">
    <div class="col s12">
      <br />
      <h1>Yogalit Admin Index</h1>

      <%= link_to "All Non-Refund Reported-Yoga-Sessions", admins_reported_non_refund_requested_yoga_sessions_path %><br />
      <%= link_to "All Refund-Requested Reported-Yoga-Sessions", admins_reported_refund_reuqested_yoga_sessions_path %>
    </div>
  </div>
</div>
