<h1>Teacher Dashboard</h1>

<h3>Teacher Profile</h3>
<%= link_to "Edit Teacher Profile", edit_teacher_path(@teacher) %>

<h3>Hours of Operation</h3>
<%= link_to "Monday", new_teacher_monday_time_frame_path %>
