<section id="main_hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12">
        <div class="we_love_div">
          <img src="/assets/we_love.png" />
          <div class="yogalit_white_logo_div">
            <img src="/assets/yogalit_white_logo.png" />
            <p>ONE ON ONE, ONLINE YOGA AND MEDITATION YOU CAN DO ANYWHERE</p>
            <div class="get_started_box">
              <a href="#signup_modal"><button>Get Started</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="signup">
  <div class="container-fluid">
    <div class="row">
      <div class="col s6">
        <div class="yoga_silhouette_div">
          <img src="/assets/yoga_silhouette.png" />
        </div>
      </div>
      <div class="col s6">
        <h4>Sign up is free!</h4>
        <ul>
          <li>• Just you and your Yoga Teacher</li><br />
          <li>• No monthly membership or hidden fees</li><br />
          <li>• Joining a Private Yoga Session has never been easier, just click and you're in!</li>
        </ul>
        <div class="join_now_div hide_less_than_oet_767">
          <a href="#signup_modal"><button>Join Yogalit Now</button></a>
        </div>
      </div>
    </div>
    <div class="row hide_less_than_oet_767">
      <div class="tutorial_div">
        <div class="col s3">
          <h6>Step One</h6>
          <p>Create an account</p>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
        <div class="col s3">
          <h6>Step Two</h6>
          <p>Search for a Teacher</p>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
        <div class="col s3">
          <h6>Step Three</h6>
          <p>Choose an available time</p>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
        <div class="col s3">
          <h6>Step Four</h6>
          <p>Make a one time payment and your Personalized Yoga Session is booked!</p>
        </div>
      </div>
    </div>
    <!-- Add tutorial for desktop only -->
    <div class="row hide_greater_than_oet_768">
      <div class="col s12">
        <div class="join_now_div">
          <a href="#signup_modal"><button>Join Yogalit Now</button></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="find_yoga_teachers">
  <div class="container-fluid">
    <div class="row">
      <div class="col s6 m4">
        <h4>Find Teachers from around the world</h4>
        <p>All Teachers are certified through the National Yoga Alliance and have been interviewed by our Yogalit Yoga Experts</p>
        <div class="find_teachers_button hide_less_than_oet_767">
          <a href='#'><button>Find a Teacher</button></a>
        </div>
      </div>
    </div>
    <div class="row hide_greater_than_oet_768">
      <div class="col s12">
        <div class="find_teachers_button">
          <a href='#'><button>Find a Teacher</button></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="do_yoga">
  <div class="container-fluid">
    <div class="row">
      <div class="col s6">
        <div class="do_yoga_image_div">
          <img src="/assets/do_yoga.png" /><br />
        </div>
      </div>
      <div class="col s6">
        <h4>Do Yoga</h4>
        <p>• No classroom, no judgement.</p>
        <p>• Do Yoga in the privacy of your own home, or while traveling.</p>
        <p>• With Teachers online from all around the world, sessions can be made at virtually any time of the day.</p>
        <div class="do_yoga_read_more_div hide_less_than_oet_767">
          <a href="#"><button>Read More</button></a>
        </div>
      </div>
    </div>
    <div class="row hide_greater_than_oet_768">
      <div class="col s12">
        <a href="#"><button>Read More</button></a>
      </div>
    </div>
  </div>
</section>
