<section id="payment_confirmation">
  <div class="container">
    <div class="row top_row">
      <div class="col s12">
        <br />
        <h4>Payment successful and yoga session booked!</h4>
        <p>Your Payment was successful and your Yoga-Session has been booked. To view Upcoming Yoga-Sessions, visit your homepage and check your email for more information!</p>
      </div>
    </div>
  </div>
</section>
