// Import all .scss files
@import "devise_sessions";
@import "devise_registrations";
@import "user_messages";
@import "teachers";
@import "students";
@import "header";
@import "payments";
@import "yoga_teacher_searches";
@import "footer";
@import "mixins";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

video, img {
  width: 100%;
}

.hide_greater_than_oet_768 {
  @media(min-width: 768px){
    display: none;
  }
}
.hide_less_than_oet_767 {
  @media(max-width: 767px){
    display: none;
  }
}

.top_row {
  margin-top: 3.9em;
}

.teacher_profile_page {
  #nav_bar .header-links button {
    color: #5fcef9;
  }
  #nav_bar .header-links a {
    color: #5fcef9;
  }
}

.btn-flat {
  padding-bottom: 3em !important;
}

#login_modal {
  background-color: rgba(0,0,0,0.0);
  max-height: 56%;
  h4 {
    font-family: 'Raleway', sans-serif;
    color: #56cbf9;
    text-align: center;
  }
  .modal-content {
    margin-bottom: 3em;
    background-color: #595959;
    .login_btn_div {
      text-align: center;
    }
    input {
      color: #ffffff;
    }
    [type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
      border: 2px solid #16e0bd;
    }
    button {
      margin-top: 1em;
      letter-spacing: 0.2em;
      border: 1px solid #16e0bd;
      color: #16e0bd;
      background-color: rgba(0,0,0,0.0);
      padding: 1em;
      width: 50%;
      font-family: 'Source Sans Pro', sans-serif;
      &:hover {
        background-color: #16e0bd;
        border: 1px solid #ffffff;
        color: #ffffff;
      }
    }
  }
}

#signup_modal {
  background-color: rgba(0,0,0,0.0);
  max-height: 56%;
  h4 {
    font-family: 'Raleway', sans-serif;
    color: #56cbf9;
    text-align: center;
    margin-bottom: 1em;
  }
  .modal-content {
    margin-bottom: 3em;
    background-color: #595959;
    text-align: left;
    input {
      color: #ffffff;
      margin-top: -1em;
    }
    input:first-of-type {
      margin-bottom: -0.3em;
    }
    [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
        border: 2px solid #ffffff;
    }
    .teacher_or_student_radio_div {
      margin-top: 2em;
      margin-bottom: 2em;
    }
    small {
      color: white;
    }
    .signup_btn_div {
      text-align: center;
    }
    button {
      margin-top: 1em;
      letter-spacing: 0.2em;
      border: 1px solid #16e0bd;
      color: #16e0bd;
      background-color: rgba(0,0,0,0.0);
      padding: 1em;
      width: 50%;
      font-family: 'Source Sans Pro', sans-serif;
      &:hover {
        background-color: #16e0bd;
        border: 1px solid #ffffff;
        color: #ffffff;
      }
    }
  }
}

.bottom_tree_hero {
  @include backgroundShorthand("/assets/tree_woman_yoga_pose.jpg");
  min-height: 40em;
}

#about {
  font-family: 'Source Sans Pro', sans-serif;
  .about_container {
    min-height: 50em;
    p {
      margin-top: 3.9em;
      font-size: 1.5em;
      color: #56cbf9;
    }
  }
  #nav_bar {
    .header-links a {
      color: #58cbf9;
    }
    .header-links button {
      color: #58cbf9;
    }
  }
}
