// Import all .scss files
@import "devise_sessions";
@import "devise_registrations";
@import "header";
@import "mixins";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

video, img {
  width: 100%;
}

.hide_greater_than_oet_768 {
  @media(min-width: 768px){
    display: none;
  }
}
.hide_less_than_oet_767 {
  @media(max-width: 767px){
    display: none;
  }
}
