@import "mixins";

#main_hero {
  @include backgroundShorthand("/assets/welcome_hero_background.png");

  min-height: 20em;

  .we_love_div {
    width: 50%;
    position: absolute;
    top: 12.5%;
    left: 25%;

    .yogalit_white_logo_div {
      img {
        width: 50%;
      }
      position: absolute;
      top: 50%;
      left: 8%;
      @media(min-width: 1350px) {
        left: 12%;
      }
      @media(min-width: 1550px) {
        left: 25%;
      }
      text-align: center;

      p {
        width: 100%;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        position: absolute;
        font-size: 0.5em;
        letter-spacing: 0.5em;
      } // p
      button {
        position: relative;
        border: 1px solid #ffffff;
        padding: 1em;
        margin-top: 4em;
        font-size: 10px;
        letter-spacing: 0.2em;
        background-color: rgba(0,0,0,0.0);
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        &:hover {
          background-color: #16e0bd;
        }
      }
    } // .yogalit_white_logo_div
  } // .we_love_div
  @media(min-width: 575px){
    min-height: 30em;
  }
  @media(min-width: 950px){
    min-height: 35em;
    .we_love_div {
      .yogalit_white_logo_div {
        p {
          font-size: 0.7em;
        }
      }
    }
  }
  @media(min-width: 1200px){
    min-height: 45em;
  }
} // #main_hero

#signup {
  margin-top: 3em;
  h4 {
    color: #56cbf9;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
  }

  ul {
    color: #8e8e8e;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
  }
  // desktop- img{
  //   width: 50%;
  // }

  button {
    letter-spacing: 0.2em;
    background-color: #16e0bd;
    color: white;
    padding: 1em;
    border: 1px solid #16e0bd;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
  }
  @media(min-width: 768px){
    button {
      margin-top: 2em;
      width: 50%;
      &:hover {
        background-color: #ffffff;
        color: #16e0bd;
      }
    }
    .yoga_silhouette_div {
      text-align: center;
    }
    img {
      width: 50%;
    }
  }

  .join_now_div {
    text-align: center;
  }

  .tutorial_div {
    margin-top: 2em;
    text-align: center;
    h6 {
      color: #555555;
      font-family: 'Raleway', sans-serif;
    }
    p {
      color: #555555;
      font-family: 'Source Sans Pro', sans-serif;
    }
    i {
      font-size: 1.5em;
      color: #16e0bd;
    }
  }
}

#find_yoga_teachers {
  @include backgroundShorthand("/assets/yoga_teachers_hero_background.png");
  min-height: 15em;

  h4 {
    color: #56cbf9;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
  }

  p {
    color: #dbdde1;
    letter-spacing: 0.1em;
    font-family: 'Source Sans Pro', sans-serif;
  }

  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #16e0bd;
    background-color: rgba(0,0,0,0.0);
    padding: 1em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    &:hover {
      background-color: #16e0bd;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
  .find_teachers_button {
    text-align: center;
  }
  @media(min-width: 768px){
    min-height: 28em;
    h4 {
      margin-bottom: 1em;
    }
    button {
      width: 50%;
    }
    .find_teachers_button {
      text-align: left;
    }
    p {
      margin-bottom: 3em;
    }
  }

}

#do_yoga {
  margin-top: 3em;
  h4 {
    text-align: center;
    color: #56cbf9;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
  }

  p {
    color: #8e8e8e;
    font-family: 'Source Sans Pro', sans-serif;
  }

  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #ffffff;
    background-color: #16e0bd;
    padding: 1em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
  }

  @media(min-width: 768px){
    img {
      width: 50%;
    }
    .do_yoga_image_div {
      text-align: center
    }
    .do_yoga_read_more_div {
      text-align: center;
    }
    button {
      width: 50%;
      margin-top: 2em;
      &:hover {
        border: 1px solid #16e0bd;
        background-color: #ffffff;
        color: #16e0bd;
      }
    }
    p {
      margin-top: 2em;
      text-align: center;
    }
  }
}
