@import "mixins";

#main_hero {
  @include backgroundShorthand("/assets/welcome_hero_background.png");
  min-height: 20em;

  .we_love_div {
    width: 50%;
    position: absolute;
    top: 12.5%;
    left: 25%;

    .yogalit_white_logo_div {
      img {
        width: 50%;
      }
      position: absolute;
      top: 50%;
      text-align: center;

      p {
        width: 100%;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        position: absolute;
        font-size: 0.5em;
        letter-spacing: 0.5em;
      } // p
      button {
        position: relative;
        border: 1px solid #ffffff;
        padding: 1em;
        margin-top: 4em;
        font-size: 10px;
        letter-spacing: 0.2em;
        background-color: rgba(0,0,0,0.0);
        color: white;
      }
    } // .yogalit_white_logo_div
  } // .we_love_div
} // #main_hero

#signup {
  margin-top: 3em;
  h4 {
    color: #56cbf9;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.05em;
  }

  ul {
    color: #8e8e8e;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
  }
  // desktop- img{
  //   width: 50%;
  // }

  button {
    letter-spacing: 0.2em;
    background-color: #16e0bd;
    color: white;
    padding: 1em;
    border: 1px solid #16e0bd;
    width: 100%;
  }

  .join_now_div {
    text-align: center;
  }
}

#find_yoga_teachers {
  @include backgroundShorthand("/assets/yoga_teachers_hero_background.png");
  min-height: 15em;

  h4 {
    color: #56cbf9;
    font-weight: 800;
    letter-spacing: 0.05em;
  }

  p {
    color: #dbdde1;
    letter-spacing: 0.1em;
  }

  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #16e0bd;
    background-color: rgba(0,0,0,0.0);
    padding: 1em;
    width: 100%;
  }

  .find_teachers_button {
    text-align: center;
  }
}

#do_yoga {
  margin-top: 3em;
  h4 {
    text-align: center;
    color: #56cbf9;
  }

  p {
    color: #bcbcbc;
  }

  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #ffffff;
    background-color: #16e0bd;
    padding: 1em;
    width: 100%;
  }
}
