#nav_bar {
  position: absolute;
  width: 100%;

  img {
    margin-top: 1em;
  }

  .header-links {
    text-align: right;
    word-spacing: 1em;
    margin-top: 1em;
  }

  .header-bars {
    text-align: right;
    margin-top: 0.5em;
  }

  .fa-bars {
    color: #56cbf9;
    font-size: 1.5em;
  }
}
