#nav_bar {
  position: absolute;
  width: 100%;

  img {
    margin-top: 1em;
  }

  .header-links {
    text-align: right;
    word-spacing: 1em;
    margin-top: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    a {
      color: #ffffff;
      &:hover {
        color: #16e0bd;
      }
    }
    button {
      border: 1px solid #16e0bd;
      color: #ffffff;
      background-color: rgba(0,0,0,0.0);
      &:hover {
        background-color: #16e0bd;
        border: 1px solid #ffffff;
      }
    }
  }

  .header-bars {
    text-align: right;
    margin-top: 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
    a {
      color: #ffffff;
      &:hover {
        color: #16e0bd;
      }
    }
    button {
      border: 1px solid #16e0bd;
      color: #ffffff;
      background-color: rgba(0,0,0,0.0);
      &:hover {
        background-color: #16e0bd;
        border: 1px solid #ffffff;
      }
    }
  }

  #slide-out {
    background-color: #00b7ff;
  }

  .fa-bars {
    color: #56cbf9;
    font-size: 1.5em;
  }
}
