#students_continued_registration {
  background-color: #333333;
  input, textarea, small {
    color: white;
  }
  h4 {
    margin-top: 3em;
    margin-bottom: 2em;
    color: #56cbf9;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #16e0bd;
    background-color: rgba(0,0,0,0.0);
    padding: 1em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    &:hover {
      background-color: #16e0bd;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
  @media(min-width: 768px){
    button {
      width: 50%;
    }
  }
  .continued_registration_btn_div {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
  }
}

.student_dashboard_row {
  margin-bottom: -20px !important;
  background-color: #333333;
  .student_sidebar {
    margin-top: 3.9em;
    background-color: #333333;
    color: #cccccc;
    .image_and_name {
      padding-top: 3em;
      width: 100%;
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
      img {
        border-radius: 1em;
      }
      p {
        margin-top: 1.5em;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0.1em;
      }
    }
    .sidebar_options {
      .i_text {
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0.1em;
        font-size: 1.1em;
      }
      min-height: 200px;
      color: white;
      .sidebar_option_div {
        background-color: #1c1b1b;
        text-align: left;
        margin-left: -10px;
        margin-right: -10px;
        padding: 1.5em;
        margin-bottom: 0.2em;
        &:hover {
          cursor: pointer;
          cursor: hand;
        }
      }

    }
  }
  .student_main_dash {
    @include backgroundShorthand("/assets/dashboard_background.png");
    .border {
      border: 1px solid #ffffff;
    }
    margin-top: 3.9em;
    min-height: 800px !important;
    .top_row {
      margin-top: 3.9em;
    }
    .dashboard_content:nth-child(n+2) {
      display: none;
    }
    .hours_of_operations {
      input {
        width: 50%;
        @media(max-width: 600px){
          text-align: center;
        }
        text-align: left;
        display: initial;
      }
      .hoo_row {
        text-align: center;
      }
    }
  }
}
