#teachers_continued_registration {
  background-color: #333333;
  input, textarea, small {
    color: white;
  }
  h4 {
    margin-top: 3em;
    margin-bottom: 2em;
    color: #56cbf9;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #16e0bd;
    background-color: rgba(0,0,0,0.0);
    padding: 1em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    &:hover {
      background-color: #16e0bd;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
  @media(min-width: 768px){
    button {
      width: 50%;
    }
  }
  .continued_registration_btn_div {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
  }
}

#new_teacher_interview {
  background-color: #333333;
  input, textarea, small {
    color: white;
  }
  h4 {
    margin-top: 3em;
    margin-bottom: 2em;
    color: #56cbf9;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #16e0bd;
    background-color: rgba(0,0,0,0.0);
    padding: 1em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    &:hover {
      background-color: #16e0bd;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
  @media(min-width: 768px){
    button {
      width: 50%;
    }
  }
  .book_interview_btn_div {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
  }
}

#teachers_show {
  .teacher_top_info {
    .btn {
      letter-spacing: 0.2em;
      margin-bottom: 1em;
      border: 1px solid #ffffff;
      background-color: #16e0bd;
      color: #ffffff;
      width: 100%;
      font-family: 'Source Sans Pro', sans-serif;
      &:hover {
        background-color: rgba(0,0,0,0.0);
        border: 1px solid #16e0bd;
        color: #16e0bd;
      }
    }
    background-color: #ffffff;
    padding: 1em;
    .fa-heart {
      color: #b40000;
    }
  }
  .top_row {
    margin-top: 7.5em;
    input {
      color: white;
    }
    label {
      color: #17d9b8;
    }
    .teacher_info_div {
      h5 {
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
      }
    }
    .image_div {
      border: 20px solid rgb(50, 116, 141);
      border-radius: 1em;
    }
    h5, h6 {
      color: #17d9b8;
      text-align: left;
      font-weight: 800;
      letter-spacing: 0.05em;
      font-family: 'Arvo', serif;
    }
  }
  .teacher_show_select_image {
    @include backgroundShorthand("/assets/yoga_class.jpg");
    min-height: 500px;
    .teacher_show_select_row {
      padding-bottom: 20px;
      margin-bottom: -20px;
      .teacher_show_select_div {
        button {
          letter-spacing: 0.2em;
          margin-bottom: 1em;
          border: 1px solid #16e0bd;
          color: #16e0bd;
          background-color: rgba(0,0,0,0.0);
          padding: 1em;
          width: 100%;
          font-family: 'Source Sans Pro', sans-serif;
          &:hover {
            background-color: #16e0bd;
            border: 1px solid #ffffff;
            color: #ffffff;
          }
        }
        p,label,input {
          color: #ffffff;
          font-family: 'Arvo', serif;
          margin-top: 1em;
        }
        .student_choices {
          color: #56caf8;
          font-family: 'Rock Salt', cursive;
        }
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2em;
        margin-top: 3em;
        min-height: 500px;
      }
    }
  }
}

.teacher_navbar {
  background-color: #444444;
  position: relative;
  top: 0;
  a {
    color: #cccccc !important;
  }
  p {
    color: #cccccc !important;
    text-align: center;
    margin-top: 1em;
    margin-bottom: -1.2em;
    line-height: 1.2em;
    color: white;
    letter-spacing: 0.1em;
  }
}

.teacher_dashboard_row {
  margin-bottom: -20px !important;
  background-color: #333333;
  .teacher_sidebar {
    margin-top: 3.9em;
    background-color: #333333;
    color: #cccccc;
    .image_and_name {
      padding-top: 3em;
      width: 100%;
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
      img {
        border-radius: 1em;
      }
      p {
        margin-top: 1.5em;
      }
    }
    .sidebar_options {
      min-height: 200px;
      color: white;
      .sidebar_option_div {
        background-color: #1c1b1b;
        text-align: left;
        margin-left: -10px;
        margin-right: -10px;
        padding: 1.5em;
        margin-bottom: 0.2em;
        &:hover {
          cursor: pointer;
          cursor: hand;
        }
      }
    }
  }
  .teacher_main_dash {
    @include backgroundShorthand("/assets/dashboard_background.png");
    .border {
      border: 1px solid #ffffff;
    }
    margin-top: 3.9em;
    min-height: 800px !important;
    .top_row {
      margin-top: 3.9em;
    }
    .dashboard_content:nth-child(n+2) {
      display: none;
    }
    .hours_of_operations {
      input {
        width: 50%;
        @media(max-width: 600px){
          text-align: center;
        }
        text-align: left;
        display: initial;
      }
      .hoo_row {
        text-align: center;
      }
    }
  }
}

#teacher_edit {
  h4 {
    text-align: center;
  }
  .top_row {
    margin-top: 3.9em;
  }
}
