#teachers_continued_registration {
  background-color: #333333;
  input, textarea, small {
    color: white;
  }
  h4 {
    margin-top: 3em;
    margin-bottom: 2em;
    color: #56cbf9;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #16e0bd;
    background-color: rgba(0,0,0,0.0);
    padding: 1em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    &:hover {
      background-color: #16e0bd;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
  @media(min-width: 768px){
    button {
      width: 50%;
    }
  }
  .continued_registration_btn_div {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
  }
}

#new_teacher_interview {
  background-color: #333333;
  input, textarea, small {
    color: white;
  }
  h4 {
    margin-top: 3em;
    margin-bottom: 2em;
    color: #56cbf9;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  button {
    letter-spacing: 0.2em;
    border: 1px solid #16e0bd;
    color: #16e0bd;
    background-color: rgba(0,0,0,0.0);
    padding: 1em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    &:hover {
      background-color: #16e0bd;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
  @media(min-width: 768px){
    button {
      width: 50%;
    }
  }
  .book_interview_btn_div {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
  }
}

#teachers_show {
  background-color: #117ba4;
  min-height: 1200px;
  .teacher_top_info {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 1em;
    padding-top: 10em;
  }
  .top_row {
    margin-top: 7.5em;
    input {
      color: white;
    }
    label {
      color: #17d9b8;
    }
    .teacher_info_div {
      background-color: rgb(50, 116, 141);
      padding: 2em;
      border-radius: 1em;
      text-align: left;
      letter-spacing: 0.1em;
      margin-bottom: 1em;
    }
    .image_div {
      border: 20px solid rgb(50, 116, 141);
      border-radius: 1em;
    }
    h5, h6 {
      color: #17d9b8;
      text-align: left;
      font-weight: 800;
      letter-spacing: 0.05em;
      font-family: 'Arvo', serif;
    }
    a.button {
      letter-spacing: 0.2em;
      margin-bottom: 1em;
      border: 1px solid #ffffff;
      background-color: #16e0bd;
      color: #ffffff;
      padding: 1em;
      width: 100%;
      font-family: 'Source Sans Pro', sans-serif;
      &:hover {
        background-color: rgba(0,0,0,0.0);
        border: 1px solid #16e0bd;
        color: #16e0bd;
      }
    }
    button {
      letter-spacing: 0.2em;
      margin-bottom: 1em;
      border: 1px solid #16e0bd;
      color: #16e0bd;
      background-color: rgba(0,0,0,0.0);
      padding: 1em;
      width: 100%;
      font-family: 'Source Sans Pro', sans-serif;
      &:hover {
        background-color: #16e0bd;
        border: 1px solid #ffffff;
        color: #ffffff;
      }
    }
  }
}

.teacher_navbar {
  background-color: #444444;
  position: relative;
  top: 0;
  a {
    color: #cccccc !important;
  }
  p {
    color: #cccccc !important;
    text-align: center;
    margin-top: 1em;
    margin-bottom: -1.2em;
    line-height: 1.2em;
    color: white;
    letter-spacing: 0.1em;
  }
}

.teacher_dashboard_row {
  background-color: #333333;
  .teacher_sidebar {
    margin-top: 3.9em;
    background-color: #333333;
    color: #cccccc;
    .image_and_name {
      padding-top: 3em;
      width: 100%;
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
      img {
        border-radius: 1em;
      }
      p {
        margin-top: 1.5em;
      }
    }
    .sidebar_options {
      min-height: 200px;
      color: white;
      .sidebar_option_div {
        background-color: #1c1b1b;
        text-align: left;
        margin-left: -10px;
        margin-right: -10px;
        padding: 1.5em;
        margin-bottom: 0.2em;
        &:hover {
          cursor: pointer;
          cursor: hand;
        }
      }
    }
  }
  .teacher_main_dash {
    @include backgroundShorthand("/assets/dashboard_background.png");
    margin-top: 3.9em;
    min-height: 800px !important;
    .dashboard_content:nth-child(n+2) {
      display: none;
    }
    .hours_of_operations {
      .top_row {
        margin-top: 3.9em;
      }
      .border {
        border: 1px solid #ffffff;
      }
      input {
        width: 50%;
        text-align: center;
        display: initial;
      }
      .hoo_row {
        text-align: center;
      }
    }
  }
}
